.mainreturns{
  /* width: 160%; */
  /* border:2PX solid rgb(240, 7, 7); */


}
.maindiv{
  
    display: flex;
    flex-direction: column;
    align-items: center;

   justify-content: center;
    /* border:2PX solid rgb(240, 7, 7); */

}

.logo{
    display: flex;
    justify-content: center;
    gap: 5px;
    color:white;
}
.search-input {
    /* border:2PX solid rgb(197, 22, 16); */
    /* background-color: rgb(255, 145, 0);
    width: 100%;
    height:30px;
    border: none;
    border-radius: 5px; */
    
    height: 0px;
    

}
.searchinput{
    /* border:2PX solid rgb(197, 22, 16); */
border: none;
    display: flex;
    height: 80%;
    width: 80%;

}




  .search{
    height: 75%;
 background-color: white;
display: flex;
align-items: center;
border-radius: 5px;
    width: 40%; 
  }
  
.mynavbar{
  /* position: fixed; */
  /* z-index: 2; */
  /* overflow: visible; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:6%;
    
      /* border:2PX solid rgb(46, 197, 16); */
background-color: #A03037;

}
/* content */
.content{
    
    width: 90%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    /* border:2PX solid rgb(123, 255, 15); */

}
.topright{
  height: 90%;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgb(226, 226, 226);
    /* border:2PX solid rgb(123, 255, 15); */
margin-right: 45px;
}


.top{
    display: flex;
    /* border:2PX solid rgb(255, 211, 15); */
    align-items: baseline;

}
.topmain{
  /* margin-top: 5px; */
z-index: 1;
position: fixed;
   display: flex; 
   justify-content: center;
   align-items: center;
   height: 30px;
   position: relative;
   width: 90%;
   /* border:2PX solid rgb(255, 211, 15); */
background-color: white;
}
.books{
  /* border:2PX solid rgb(255, 211, 15); */
  width: 90%;
}
.rightnav{
  display: flex;
  align-items: center;
  gap: 20px;
}
.profilestatus{
  display: flex;
  flex-direction: column;

  
  
  min-width: 200px;
  /* padding-left: 5px; */
}
.profilestatus h5{
  margin: 0px;

}
.profilestatus button{

  padding: 10px;
  border-radius: 5px;
  color:#bd2f39 ;
 border-color: #bd2f39;
}
.cartbtn {
 
  background-color: #A03037;
  border: none;
}
.cartbtn mat-icon{
 height: 20px;
}
.more{
  display: none;
}










.footer {
  display: flex;
  /* border:2PX solid rgb(255, 211, 15); */
  background-color: #2E1D1E;
  color: white;
height: 30px;
  /* position: fixed; */
  /* bottom: 0; */
    /* bottom: 0;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between; */
    /* border:2PX solid rgb(197, 16, 16); */

  }
.footer p{
  width: 100%;
  display: flex;
 text-wrap: wrap;
 text-align: center;
 text-decoration: none;
 margin: 0px;
 font-size: medium;

}

  
  .spacer {
    flex: 1 1 auto;
  }
  



  @media only screen and (max-width: 600px) {
    
    .mynavbar{
      height: 40px;
    /* border:2PX solid rgb(197, 16, 16); */

    }
    
   .logo h1{
    display: none;
   }
   .navprofile{
    display: none;
   }
   .navcart{
    display:none;
   }
    .more{

      /* display: block; */
      display: flex;
    }
.footer {
  font-size: small;
}
.footer p{
  height:100%;
}

    
    .content{
        height: 82%;

          /* border:2PX solid rgb(35, 255, 15); */
    
    }
    .topmain{
      /* margin-top: 5px; */
   
       width: 100%;
     
    }
    .books{
      
      width: 100%;
    }
    .topright{
      /* border:2PX solid rgb(123, 255, 15); */
  margin-right: 0px;

  }


  }
