<div class="mainreturns">

    <mat-toolbar class="mynavbar">
        <div class="logo" (click)="routToDhasBoard()"><img  src="../../../assets/education.png" alt="">
            <h1>Book Store</h1>
        </div>
        <div class="search">
            <mat-icon matPrefix>search</mat-icon>
            <input class="searchinput" matInput placeholder="Type to search...">

        </div>

        <div class="rightnav">
            <div class="navprofile">

                <button mat-button [matMenuTriggerFor]="profileMenu">
                    <mat-icon>
                        person
                    </mat-icon>
                </button>

                <mat-menu #profileMenu="matMenu">
                    <div class="profilestatus" *ngIf="tokenStatus">
                        <h5>Hello vicky</h5>
                        <p (click)="showProfile()">
                            <mat-icon>account_circle</mat-icon>

                            Profile
                        </p>
                        <p (click)="gotoMyOrders()">
                            <mat-icon>shopping_cart</mat-icon> My Orders
                        </p>
                        <p (click)="OnClickGetWhishlist()">
                            <mat-icon>favorite</mat-icon> My Wishlist
                        </p>
                        <button (click)="onClickLogOut()">LOGOUT</button>

                    </div>
                    <div class="profilestatus" *ngIf="!tokenStatus">
                        <h5>Welcome</h5>
                        <p>To acsees account amd manage orders</p>
                        <button (click)="onClickLogin()">LOGIN/SIGNUP</button>
                        <hr>
                        <p>
                            <mat-icon>shopping_cart</mat-icon> My Orders
                        </p>
                        <p><mat-icon>favorite</mat-icon> whishlist</p>



                    </div>
                </mat-menu>
            </div>
            <div class="navcart">
                <button class="cartbtn">

                    <mat-icon (click)="OnClickCart()">
                        shopping_cart
                    </mat-icon>
                </button>
            </div>

            <div class="more">
                <button mat-button [matMenuTriggerFor]="moremenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #moremenu="matMenu">
                  <button mat-menu-item [matMenuTriggerFor]="profileMenuin">
                    <mat-icon>person</mat-icon>
                    Profile
                  </button>
                  <button mat-menu-item (click)="OnClickCart()">
                    <mat-icon>shopping_cart</mat-icon>
                    Cart
                  </button>
                  <mat-menu #profileMenuin="matMenu">
                    
                    <div class="profilestatus" *ngIf="tokenStatus">
                        <h5>Hello vicky</h5>
                        <p (click)="showProfile()">
                            <mat-icon>account_circle</mat-icon>

                            Profile
                        </p>
                        <p (click)="gotoMyOrders()">
                            <mat-icon>shopping_cart</mat-icon> My Orders
                        </p>
                        <p (click)="OnClickGetWhishlist()">
                            <mat-icon>favorite</mat-icon> My Wishlist
                        </p>
                        <button (click)="onClickLogOut()">LOGOUT</button>

                    </div>
                    <div class="profilestatus" *ngIf="!tokenStatus">
                        <h5>Welcome</h5>
                        <p>To acsees account amd manage orders</p>
                        <button (click)="onClickLogin()">LOGIN/SIGNUP</button>
                        <hr>
                        <p>
                            <mat-icon>shopping_cart</mat-icon> My Orders
                        </p>
                        <p><mat-icon>favorite</mat-icon> whishlist</p>



                    </div>


                  </mat-menu>
                </mat-menu>
              </div>
              





        </div>
        
    </mat-toolbar>
    <div class="maindiv">

        <div class="content">


            <div class="books">
                <router-outlet>

                </router-outlet>

            </div>

        </div>


        <!-- <div class="footer">
        <span>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</span>
    </div> -->

        <mat-toolbar class="footer">

            <p>

                Copyright © 2020, Bookstore Private Limited. All Rights Reserved
            </p>

        </mat-toolbar>


    </div>
</div>