<div class="main">

    <div class="left">


        <mat-card class="bookcard">
            <div>
                <div class="bookimgdiv">
                    <img class="bookImage" src="../../../assets/tempImage.png" alt="">
                </div>



            </div>
        </mat-card>
        <div class="bottom">
                <button *ngIf="cartbtnshow" (click)="onClickshowcart()">Add to bag</button>
                <div *ngIf="!cartbtnshow" class="cartitem">
                    <button>

                        <mat-icon (click)="decreaseQuantity()">remove</mat-icon>
                    </button>

                    <input type="number" [(ngModel)]="quantity">

                    <button>
                        <mat-icon (click)="increaseQuantity()">add</mat-icon>

                    </button>
                </div>
                <button class="favbtn" (click)="AddwhishList(mydata.bookId)"><mat-icon (click)="RemovewhishList()">favorite</mat-icon> <p>whishlist</p></button>
        </div>

    </div>
    <div class="right">
        <div class="datils">
            <h4>{{mydata.bookName | uppercase}}</h4>


            <p>{{mydata.author}}</p>

            <div style="display: flex;">

                <button>4.5  <i class="fa-regular fa-star" style="color: #ffffff;"></i>
                </button>
                <h5>(20)</h5>
            </div>

            <div style="display: flex; align-items: center; gap: 5px;">

                <h4>Rs.{{mydata.discountPrice}} </h4>
               <p style="font-size: small;"> <s>Rs. {{mydata.price}} </s></p>
            </div>
        </div>
        <hr>
        <div class="desc">
            <H4>&#8226; Book Detail</H4>
            <p style="padding: 5px;">
               {{mydata.description}} 
            </p>
            <hr>
        </div>

        <div class="feedback">
            <h4>Custum feedback</h4>
            <div class="feed">
                <h5>All Rating</h5>
                <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                <div class="feedinput">
                    <textarea  type="text" placeholder="feedback" [(ngModel)]="feed"></textarea>
                </div>
                <div>

                    <button type="submit" (click)="addFeedBack()">submit</button>
                </div>
                <div class="feedbackdata" *ngFor="let i of myFeedData">
                   <div  class="usermat" >

                    <h3>
                        <mat-icon>
                            person
                        </mat-icon>
                        {{i.username}}
                    </h3>

                    <p >
                        <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
              
                    </p>

                </div>
                {{i.msg}}

                </div>
            </div>
        </div>
    </div>




</div>