.main{

    display: flex;
    flex-direction: column;
    border : 2PX SOLID rgb(248, 66, 10); 
    padding: 40px;
    gap:20px

}
.main div{
    display: flex;
    flex-direction: column;

   

}
.main button{
    height: 40px;
    width: 110px;
}
.main input{
    width: 200px;
    height: 30px;

}
