<form [formGroup]="loginform" (ngSubmit)="loginuser()">
  <div class="outdiv">

    <div class="inpitdata">
      <div><br>

        <mat-form-field appearance="outline">
          <input type="email" matInput placeholder="  Email or phone*" required formControlName="email">
          <mat-label>Email</mat-label>
        </mat-form-field>
      </div>
      <div>

        <mat-form-field appearance="outline">
          <input type="password" matInput placeholder="  Password*" required formControlName="password">

        </mat-form-field>
        <p class="errormsg" *ngIf="errorMessage">{{errorMessage}}</p>
        <a class="forgot">Forgot Password</a>
      </div>

    </div>

    <div class="loginbtn">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
    <div class="botom">
      <div class="or">
        <h3>OR</h3>
      </div>
      <div class="logo">
        <button mat-raised-button color="primary" type="button">Facebook</button>
        <button mat-raised-button type="button">Google</button>

      </div>
    </div>




  </div>
</form>