<div class="main">
    <div class="img">
        <div class="imgdiv">

            <img src="../../../assets/orderPlaced.png" alt="">
        </div>
        <div class="textdiv">

            <h2>Order Placed Successfully</h2>
        </div>
    </div>
    
    <div class="hurraytext">
        hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
        </div>
    <div class="tabbtn">

        <div class="table">
            <!-- table -->          
                <table>
                  <thead>
                    <tr>
                      <th>Email Us</th>
                      <th>Contact Us</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>vickyy8689@gmail.com</td>
                      <td>+91 8163475881</td>
                      <td >
                        42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
                        Kumarakom restaurant, HSR Layout, Bangalore 560034
                      </td>
                    </tr>
                  </tbody>
                </table> 
    
    
            </div>
        <div class="sub">
                <button (click)="ContinueToshoping()">Continue Shoping</button>
            </div>
    </div>

</div>