<div class="main">
    <h2>Personal Details</h2>
    <div class="name">
        <label for="name">Name</label>
        <div class="data" id="name">
            <p>{{userData.name}}</p>
        </div>

    </div>
    <div class="email">
        <label for="email">email</label>
        <div class="data" id="email">
            <p>{{userData.email}} </p>
        </div>

    </div>
    <div class="pass">
        <label for="pass">Password</label>
        <div class="data" id="pass">
            <p>************</p>
        </div>

    </div>
    <div class="mobile">
        <label for="mobile">Mobile No.</label>
        <div class="data" id="mobile">
            <p>{{userData.mobileNo}}</p>
        </div>

    </div>

</div>