<div class="main">
    <div class="left">
        <img src="../../../assets/bookstorelogo.png" alt="">
        <h1>Online Book Shopping</h1>
    </div>
    <div class="right">
        <div class="top">
           
            <mat-tab-group>
                <mat-tab label="Login" > 
                    <br>
                      <app-login ></app-login>

                 
                </mat-tab>
                <mat-tab label="Signup" >
                    <br>
                        <app-signup ></app-signup>
                    
                    
                </mat-tab>
                
              </mat-tab-group>
              
        </div>
       


    </div>
</div>