<div class="main">
    <div class="whishhead">

       <h4> My Whishlist
        ({{whishlistcount}})
    </h4> 
    </div>
    <div class="whishlist" *ngFor="let item of whishLst">
        <div class="content">
            <div class="right">

                <div class="bookimgdiv">
                    <img class="bookImage" src="../../../assets/tempImage.png" alt="">
                </div>
                <div class="bookdetail">
                    <h4>{{item.bookname}}</h4>
                    <p>{{item.author}}</p>

                    <div class="price">

                        <h4>Rs. {{item.price}} </h4><s>Rs.{{item.discountprice}}</s>
                    </div>

                </div>
            </div>
            

            <div class="delete">
                <button (click)="deletefromwhilist(item.bookid)"><mat-icon>delete</mat-icon></button>
            </div>
        </div>

    </div>
</div>